<meta charset="UTF-8">
<title>Calculator App</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .topSpacing { 
      margin-top:5em; 
    }
  .myButtons {
    margin: 1em;
  }
</style>
